<div class="row">
  <div class="col-3"></div>
  <div class="col-6 pt-5">
    <h2>New form</h2>
    <form #passwd="ngForm" (ngSubmit)="passwd.form.valid && doPasswd(passwd)" (keydown.enter)="enterKey($event)">

      <div class="form-group mb-4">
        <input #inputL type="text" class="form-control" name="login" id="login" placeholder="Login" required
          aria-describedby="loginFeedback" (change)="checkLogin('login', inputL, inputP, passwd)" ngModel>
        <div id="loginFeedback" class="invalid-feedback">
          {{errorMessage}}
        </div>
      </div>

      <div class="form-group">
        <input #inputP type="password" class="form-control" name="passwd" id="password" placeholder="Password" required
          ngModel readonly (change)="checkLogin('password', inputL, inputP, passwd)" (keydown)="disableBtn(btn)">
      </div>

      <div class="d-flex justify-content-end">
        <div class="text-right mt-4">
          <button class="btn btn-link" (click)="goToidpList()">cancel</button>
          <button #btn class="btn btn-primary" type="submit" id="lgnBtn" disabled>Done</button>
        </div>
      </div>
    </form>
  </div>

  <div class="col-3"></div>
</div>
