<nav class="navbar navbar-light bg-light sticky-top">
  <span class="navbar-brand mb-0">
    <span style="color:#d70000">
      <strong style="color: #af0505">red</strong>pesk<sup style="font-size: 50%;">®</sup>
    </span>
  </span>
  <div class="logo">
    <img class="img img-responsive" src="../../assets/redpesk-fish-name.png" alt="">
  </div>
</nav>


<main role="main">

  <div class="container">
    <afb-login></afb-login>

  </div>

</main>

<footer class="footer mt-auto py-3 text-center">
  <div class="container-fluid">
    <span class="text-muted">Copyright© 2020-2021 redpesk®</span>
  </div>
</footer>
