.logo {
  height: 50px;
  display: flex;
  align-items: center;


  img {
    max-width: 80%;
    max-height: 80%;
    margin-right: 5px;
  }
}

.loading {
  min-height: 84vh;
}

.main {
  min-height: 95vh;
}

.sidebar {
  padding-top: 1rem;
  text-align: justify;
}

.more {
  cursor: pointer;
}

.form-check-input {
  cursor: pointer;
}

label {
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

.red {
  color: red;
}

.green {
  color: green;
}



